.App {
  text-align: center;
}
.NavBar {
  color: antiquewhite;
  background-color: #15091a;
  top: 0;
  position: relative;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  display: flex;
}

.Net {
  padding-left: 3rem;
  font-weight: bold;
}
.Body {
  background-color: #1f0d1c;
  position: fixed;
  height: 100%;
  width: 100%;
}

.Head {
  color: #e6ffd1;
  font-size: 3em;
  height: 5%;
}
.Count {
  color: #faf9dc;
  font-size: 5em;
}

.Button {
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  font-size :2rem;
  border-radius: 5px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  background-color: rgba(51, 51, 51, .5);
  cursor: pointer;
  margin-right: 1rem;
  margin-left: 1rem;
}
.Button:hover {
  color: black;
  background-color: #e6e6e6;
}